<!DOCTYPE html>
<html lang="en">
  <%include header.ejs%>
<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <%include topnav.ejs%>

    <div class="container">
      <aside>
        <h3>Updates</h3>
        <ul class="categories">
          <li><span><a id="selected" href="/admin/dashboard">Dashboard</a></span></li>
          <li><span><a  href="/adduser">Add Students</a></span></li>
          <li><span><a href="/teachers/addteacher">Add Teachers</a></span></li>
          <li><span><a href="/admin/addbatch">Add Batch</a></span></li>
          <li><span><a href="/admin/addcourse">Add Course</a></span></li>
          <li><span><a href="/projects/add">Add Projects</a></span></li>
          <li><span><a href="/admin/logout">Log Out</a></span></li>

        </ul>
      </aside>
      <section id="content" style=" width: 700px;">
        <br>
        <h3>Uploaded Projects Statistics</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subjects</th>
              <th scope="col">Number of Projects</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Machine Learning</td>
              <td>200</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Artificial Intelligence</td>
              <td>50</td>

            </tr>

            <tr>
              <th scope="row">1</th>
              <td>Machine Learning</td>
              <td>200</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Artificial Intelligence</td>
              <td>50</td>

            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Machine Learning</td>
              <td>200</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Artificial Intelligence</td>
              <td>50</td>

            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Machine Learning</td>
              <td>200</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Artificial Intelligence</td>
              <td>50</td>

            </tr>

          </tbody>
        </table>

      </section>
    </div>
    <!-- container close -->



  </div>
  <!-- wrap close -->
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>
  <!-- END PAGE SOURCE -->
</body>

</html>
