<!DOCTYPE html>
<html lang="en">

<head>
  <title>Project</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>

<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <header>
      <div class="container">
        <h1><a href="#">CSE Project Archive</a></h1>
        <nav>
          <ul>
            <li><a href="/index" class="m1">Home Page</a></li>
            <li><a href="/subjects" class="m2">Students</a></li>
            <li><a href="/batches" class="m3">Teachers</a></li>
            <li><a href="/projects" class="m4">Projects</a></li>
            <li><a href="/contact" class="m5">Contact Us</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <div class="container">
      <aside>
        <h3>Updates</h3>
        <ul class="categories">
          <li><span><a id="selected" href="/admin/dashboard">Dashboard</a></span></li>
          <li><span><a  href="/adduser">Add Students</a></span></li>
          <li><span><a href="/teachers/addteacher">Add Teachers</a></span></li>
          <li><span><a href="/admin/addbatch">Add Batch</a></span></li>
          <li><span><a href="/admin/addcourse">Add Course</a></span></li>
          <li><span><a href="/projects/add">Add Projects</a></span></li>
          <li><span><a href="/admin/logout">Log Out</a></span></li>

        </ul>
      </aside>
      <section id="content" style=" width: 700px;">
        <br>
        <h3>Uploaded Projects Statistics</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Subjects</th>
              <th scope="col">Number of Projects</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Machine Learning</td>
              <td>200</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Artificial Intelligence</td>
              <td>50</td>

            </tr>

            <tr>
              <th scope="row">1</th>
              <td>Machine Learning</td>
              <td>200</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Artificial Intelligence</td>
              <td>50</td>

            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Machine Learning</td>
              <td>200</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Artificial Intelligence</td>
              <td>50</td>

            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Machine Learning</td>
              <td>200</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Artificial Intelligence</td>
              <td>50</td>

            </tr>

          </tbody>
        </table>

      </section>
    </div>
    <!-- container close -->



  </div>
  <!-- wrap close -->
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>
  <!-- END PAGE SOURCE -->
</body>

</html>
