<div class="image-editor">

  <div class="cropit-preview"></div>
  <!-- <div class="image-size-label">
    Resize image
  </div> -->
  <!-- <input type="range" class="cropit-image-zoom-input"> -->
  <input name="propic" type="file" class="cropit-image-input">
  <!--
  <button class="rotate-ccw">Rotate counterclockwise</button>
  <button class="rotate-cw">Rotate clockwise</button> -->

</div>


<script>
  $(function() {
    $('.image-editor').cropit({
      imageState: {
        src: 'img/1.jpg',
      },
    });
    $('.rotate-cw').click(function() {
      $('.image-editor').cropit('rotateCW');
    });
    $('.rotate-ccw').click(function() {
      $('.image-editor').cropit('rotateCCW');
    });
    $('.export').click(function() {
      var imageData = $('.image-editor').cropit('export');
      window.open(imageData);
    });
  });
</script>
