<div class="span6">
  <div class="widget-box">
    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
      <h3>Student-info</h3>
    </div>
    <div class="widget-content nopadding">
      <form action="/upload/data" method="POST" class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Full Name :</label>
          <div class="controls">
            <input required type="text" name="name" class="span6" placeholder="Full name" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Email :</label>
          <div class="controls">
            <input required type="email" name="email" class="span6" placeholder="Email" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Registration Number:</label>
          <div class="controls">
            <input required type="number" name="reg" class="span6" placeholder="201XXXXXXX" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Academic Session :</label>
          <div class="controls">
            <input type="text" class="span6"  name="session" placeholder="Academic Session" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Git Account:</label>
          <div class="controls">
            <input type="text" class="span6" name="git" placeholder="www.github.com/" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Linkedin Account:</label>
          <div class="controls">
            <input type="text" class="span6" name="linkedin" placeholder="www.linkedin.com/" />
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
