<div class="widget-box">
  <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
    <h5>Student table</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered data-table">
      <thead>
        <tr>
          <th>Batch</th>
          <th>Project Name</th>
          <th>Course Name</th>
          <th>Team Members</th>
          <th>Platform</th>
        </tr>
      </thead>
      <tbody>
        <tr class="gradeA">
          <td>2013</td>
          <td>Project 7.5</td>
          <td>Win 95+ / OSX.2+</td>
          <td class="center">-</td>
          <td class="center">-</td>
        </tr>
        <tr class="gradeA">
          <td>2013</td>
          <td>Project 8.0</td>
          <td>Win 95+ / OSX.2+</td>
          <td class="center">-</td>
          <td class="center">-</td>
        </tr>
        <tr class="gradeA">
          <td>2013</td>
          <td>Project 8.5</td>
          <td>Win 95+ / OSX.2+</td>
          <td class="center">-</td>
          <td class="center">-</td>
        </tr>
        <tr class="gradeA">
          <td>2013</td>
          <td>Project 9.0</td>
          <td>Win 95+ / OSX.3+</td>
          <td class="center">-</td>
          <td class="center">-</td>
        </tr>
        <tr class="gradeA">
          <td>2013</td>
          <td>Project 9.2</td>
          <td>Win 88+ / OSX.3+</td>
          <td class="center">-</td>
          <td class="center">-</td>
        </tr>
        <tr class="gradeA">
          <td>2013</td>
          <td>Project 9.5</td>
          <td>Win 88+ / OSX.3+</td>
          <td><a href="/students/tada">tada</a></td>
          <td class="center">-</td>
        </tr>
        <tr class="gradeA">
          <td>2013</td>
          <td>Project for Wii</td>
          <td>Wii</td>
          <td class="center">-</td>
          <td class="center">-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</script>
<script src="extra/jquery.min.js"></script>
<script src="extra/jquery.ui.custom.js"></script>
<script src="extra/bootstrap.min.js"></script>
<script src="extra/jquery.uniform.js"></script>
<script src="extra/select2.min.js"></script>
<script src="extra/jquery.dataTables.min.js"></script>
<script src="extra/matrix.js"></script>
<script src="extra/matrix.tables.js"></script>


<ul class="typeahead dropdown-menu"></ul>
