>

  <div class="container-fluid">

    <div class="row-fluid">
      <div class="span12">




        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
              <div class="">
                <div id="DataTables_Table_0_length" class="dataTables_length">
                  <label>Show
                    <div class="select2-container" id="s2id_autogen1">
                       <a href="#" onclick="return false;" class="select2-choice" tabindex="0">
                         <span>50</span>
                         <abbr class="select2-search-choice-close" style="display:none;"></abbr>
                          <div><b></b></div></a>
                          <div class="select2-drop select2-with-searchbox select2-offscreen" style="display: block;">
                            <div class="select2-search">
                              <input type="text" autocomplete="off" class="select2-input" tabindex="0">
                             </div>
                              <ul class="select2-results"></ul></div>
                            </div>
                              <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" style="display: none;">
                                <option value="10" selected="selected">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select> entries</label>
                </div>
              </div>
              <table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
                <thead>
                  <tr role="row">
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 202px;">
                      <div class="DataTables_sort_wrapper">Rendering engine<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 330px;">
                      <div class="DataTables_sort_wrapper">Browser<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 300px;">
                      <div class="DataTables_sort_wrapper">Platform(s)<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 173px;">
                      <div class="DataTables_sort_wrapper">Engine version<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                    </th>
                  </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Netscape Browser 8</td>
                    <td class=" ">Win 98SE+</td>
                    <td class="center ">1.7</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Netscape Navigator 9</td>
                    <td class=" ">Win 98+ / OSX.2+</td>
                    <td class="center ">1.8</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.0</td>
                    <td class=" ">Win 95+ / OSX.1+</td>
                    <td class="center ">1</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.1</td>
                    <td class=" ">Win 95+ / OSX.1+</td>
                    <td class="center ">1.1</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.2</td>
                    <td class=" ">Win 95+ / OSX.1+</td>
                    <td class="center ">1.2</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.3</td>
                    <td class=" ">Win 95+ / OSX.1+</td>
                    <td class="center ">1.3</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.4</td>
                    <td class=" ">Win 95+ / OSX.1+</td>
                    <td class="center ">1.4</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.5</td>
                    <td class=" ">Win 95+ / OSX.1+</td>
                    <td class="center ">1.5</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.6</td>
                    <td class=" ">Win 95+ / OSX.1+</td>
                    <td class="center ">1.6</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.7</td>
                    <td class=" ">Win 98+ / OSX.1+</td>
                    <td class="center ">1.7</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Mozilla 1.8</td>
                    <td class=" ">Win 98+ / OSX.1+</td>
                    <td class="center ">1.8</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Seamonkey 1.1</td>
                    <td class=" ">Win 98+ / OSX.2+</td>
                    <td class="center ">1.8</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Gecko</td>
                    <td class=" ">Epiphany 2.20</td>
                    <td class=" ">Gnome</td>
                    <td class="center ">1.8</td>
                  </tr>
                  <tr class="gradeC even">
                    <td class="  sorting_1">KHTML</td>
                    <td class=" ">Konqureror 3.1</td>
                    <td class=" ">KDE 3.1</td>
                    <td class="center ">3.1</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">KHTML</td>
                    <td class=" ">Konqureror 3.3</td>
                    <td class=" ">KDE 3.3</td>
                    <td class="center ">3.3</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">KHTML</td>
                    <td class=" ">Konqureror 3.5</td>
                    <td class=" ">KDE 3.5</td>
                    <td class="center ">3.5</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Misc</td>
                    <td class=" ">NetFront 3.1</td>
                    <td class=" ">Embedded devices</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Misc</td>
                    <td class=" ">NetFront 3.4</td>
                    <td class=" ">Embedded devices</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeX odd">
                    <td class="  sorting_1">Misc</td>
                    <td class=" ">Dillo 0.8</td>
                    <td class=" ">Embedded devices</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeX even">
                    <td class="  sorting_1">Misc</td>
                    <td class=" ">Links</td>
                    <td class=" ">Text only</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeX odd">
                    <td class="  sorting_1">Misc</td>
                    <td class=" ">Lynx</td>
                    <td class=" ">Text only</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeC even">
                    <td class="  sorting_1">Misc</td>
                    <td class=" ">IE Mobile</td>
                    <td class=" ">Windows Mobile 6</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeC odd">
                    <td class="  sorting_1">Misc</td>
                    <td class=" ">PSP browser</td>
                    <td class=" ">PSP</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeU even">
                    <td class="  sorting_1">Other browsers</td>
                    <td class=" ">All others</td>
                    <td class=" ">-</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Opera 7.0</td>
                    <td class=" ">Win 95+ / OSX.1+</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Opera 7.5</td>
                    <td class=" ">Win 95+ / OSX.2+</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Opera 8.0</td>
                    <td class=" ">Win 95+ / OSX.2+</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Opera 8.5</td>
                    <td class=" ">Win 95+ / OSX.2+</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Opera 9.0</td>
                    <td class=" ">Win 95+ / OSX.3+</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Opera 9.2</td>
                    <td class=" ">Win 88+ / OSX.3+</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Opera 9.5</td>
                    <td class=" ">Win 88+ / OSX.3+</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Opera for Wii</td>
                    <td class=" ">Wii</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Nokia N800</td>
                    <td class=" ">N800</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Presto</td>
                    <td class=" ">Nintendo DS browser</td>
                    <td class=" ">Nintendo DS</td>
                    <td class="center ">8.5</td>
                  </tr>
                  <tr class="gradeX odd">
                    <td class="  sorting_1">Tasman</td>
                    <td class=" ">Internet Explorer 4.5</td>
                    <td class=" ">Mac OS 8-9</td>
                    <td class="center ">-</td>
                  </tr>
                  <tr class="gradeC even">
                    <td class="  sorting_1">Tasman</td>
                    <td class=" ">Internet Explorer 5.1</td>
                    <td class=" ">Mac OS 7.6-9</td>
                    <td class="center ">1</td>
                  </tr>
                  <tr class="gradeC odd">
                    <td class="  sorting_1">Tasman</td>
                    <td class=" ">Internet Explorer 5.2</td>
                    <td class=" ">Mac OS 8-X</td>
                    <td class="center ">1</td>
                  </tr>
                  <tr class="gradeX even">
                    <td class="  sorting_1">Trident</td>
                    <td class=" ">Internet Explorer 4.0</td>
                    <td class=" ">Win 95+</td>
                    <td class="center ">4</td>
                  </tr>
                  <tr class="gradeC odd">
                    <td class="  sorting_1">Trident</td>
                    <td class=" ">Internet Explorer 5.0</td>
                    <td class=" ">Win 95+</td>
                    <td class="center ">5</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Trident</td>
                    <td class=" ">Internet Explorer 5.5</td>
                    <td class=" ">Win 95+</td>
                    <td class="center ">5.5</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Trident</td>
                    <td class=" ">Internet Explorer 6</td>
                    <td class=" ">Win 98+</td>
                    <td class="center ">6</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Trident</td>
                    <td class=" ">Internet Explorer 7</td>
                    <td class=" ">Win XP SP2+</td>
                    <td class="center ">7</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Trident</td>
                    <td class=" ">AOL browser (AOL desktop)</td>
                    <td class=" ">Win XP</td>
                    <td class="center ">6</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Webkit</td>
                    <td class=" ">Safari 1.2</td>
                    <td class=" ">OSX.3</td>
                    <td class="center ">125.5</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Webkit</td>
                    <td class=" ">Safari 1.3</td>
                    <td class=" ">OSX.3</td>
                    <td class="center ">312.8</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Webkit</td>
                    <td class=" ">Safari 2.0</td>
                    <td class=" ">OSX.4+</td>
                    <td class="center ">419.3</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Webkit</td>
                    <td class=" ">Safari 3.0</td>
                    <td class=" ">OSX.4+</td>
                    <td class="center ">522.1</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Webkit</td>
                    <td class=" ">OmniWeb 5.5</td>
                    <td class=" ">OSX.4+</td>
                    <td class="center ">420</td>
                  </tr>
                  <tr class="gradeA odd">
                    <td class="  sorting_1">Webkit</td>
                    <td class=" ">iPod Touch / iPhone</td>
                    <td class=" ">iPod</td>
                    <td class="center ">420.1</td>
                  </tr>
                  <tr class="gradeA even">
                    <td class="  sorting_1">Webkit</td>
                    <td class=" ">S60</td>
                    <td class=" ">S60</td>
                    <td class="center ">413</td>
                  </tr>
                </tbody>
              </table>
              <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                <div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0"></label></div>
                <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="DataTables_Table_0_paginate"><a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default" id="DataTables_Table_0_first">First</a><a tabindex="0" class="previous fg-button ui-button ui-state-default" id="DataTables_Table_0_previous">Previous</a><span><a tabindex="0" class="fg-button ui-button ui-state-default">1</a><a tabindex="0" class="fg-button ui-button ui-state-default ui-state-disabled">2</a></span>
                  <a tabindex="0" class="next fg-button ui-button ui-state-default ui-state-disabled" id="DataTables_Table_0_next">Next</a><a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default ui-state-disabled"
                    id="DataTables_Table_0_last">Last</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->

<!--end-Footer-part-->
<script src="extra/jquery.min.js"></script>
<script src="extra/jquery.ui.custom.js"></script>
<script src="extra/bootstrap.min.js"></script>
<script src="extra/jquery.uniform.js"></script>
<script src="extra/select2.min.js"></script>
<script src="extra/jquery.dataTables.min.js"></script>
<script src="extra/matrix.js"></script>
<script src="extra/matrix.tables.js"></script>


<ul class="typeahead dropdown-menu"></ul>
