<!DOCTYPE html>
<html lang="en">
  <%include header.ejs%>
  <body id="page1">
    <!-- START PAGE SOURCE -->
    <div class="wrap">
      <%include topnav.ejs%>
      <div class="container">
        <% include partials/leftsidebar.ejs%>
        <section id="content">
          <div id="banner">
            <% include partials/animatedslide.ejs%>
          </div>
          <div class="inside">
            <h2>Recent <span>Projects</span></h2>
            <ul class="list">
              <li><span><img src="images/icon1.png"></span>
                <h4>Student Academic Profile</h4>
                <p>This is a web application.Working with jsp,servlet</p>
              </li>
              <li><span><img src="images/icon2.png"></span>
                <h4>Physics Equation Solver</h4>
                <p>This is a java project.Working with javafx</p>
              </li>
              <li class="last"><span><img src="images/icon3.png"></span>
                <h4>Flood Fighter</h4>
                <p>This is a web based application.Working with hibernate</p>
              </li>
            </ul>
        </section>
        </div>
      </div>
      <footer>
        <div class="footerlink">
          <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
          <p class="rf">Design by <a href="#">SUST</a></p>
          <div style="clear:both;"></div>
        </div>
      </footer>
      <script type="text/javascript">
        Cufon.now();
      </script>
      <!-- END PAGE SOURCE -->
  </body>

</html>
