<!DOCTYPE html>
<html lang="en">
  <%include header.ejs%>

<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <%include topnav.ejs%>
    <div class="container">


      <div id="basicpostion">
        <h3>Dream Team</h3>
      </div>
      <div class="cards">



            <div class="card">
              <img  id="teacherpropic" src="/teacher/mahadi.jpg">
              <div class="card-title">
                <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
                <h2>
          Mahadi Hasan Nahid
          <small>Lecturer</small>
      </h2>
              </div>
              <div class="card-flap flap1">
                <div class="card-description">
                  Email: post2nahid@gmail.com
                  <br>
                  Contact: 01738150127

                </div>
              </div>
            </div>

            <div class="card">
              <img  id="teacherpropic" src="/teacher/tuhin.jpg">
              <div class="card-title">
                <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
                <h2>
          Towhidul Islam
          <small>Student</small>
      </h2>
              </div>
              <div class="card-flap flap1">
                <div class="card-description">
                  Email: tuhintowhidul9@gmail.com
                  <br>
                  contact: 01683462800

                </div>
              </div>
            </div>

            <div class="card">
              <img  id="teacherpropic" src="/teacher/alif.jpg">
              <div class="card-title">
                <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
                <h2>
          Alif Al Amin
          <small>Student</small>
      </h2>
              </div>
              <div class="card-flap flap1">
                <div class="card-description">
                  Email:alifalamin4@gmail.com
                  <br>
                  contact: 01712524543

                </div>
              </div>
            </div>

      </div>


    </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

  <script src="teachergrid/js/index.js"></script>
  <%include footer.ejs%>

  <!-- END PAGE SOURCE -->
</body>

</html>
