<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>demo</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/modal.css" rel="stylesheet">
</head>

<body>
  <a data-toggle="modal" href="demopic#myModal"> login</a>
  <%include partials/loginModel.ejs%>
  

</body>

</html>
