<head>
  <title>Project</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="teachergrid/css/style.css">
  
  <link rel="stylesheet" href="css/students.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/recentProject.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="extra/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
 
  <style media="screen">
    section#left {
      width: 75%;
    }

    h2 {
      text-transform: inherit;
    }

    h1 {
      text-indent: 0px;
    }

    div#supervisor {
      margin-top: -40px;
    }

    table:odd{
      table-layout: fixed;
      width: 200px;
    }

    th
    td{
      border: 1px solid black;
      width: 100px;
    }
  </style>
</head>
<%include partials/loginModel.ejs%>