<!DOCTYPE html>
<html lang="en">

<head>
  <title>Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/uniform.css">
  <link rel="stylesheet" href="css/select2.css">
  <link rel="stylesheet" href="css/matrix-style.css">
  <link rel="stylesheet" href="css/matrix-media.css">
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet" type="text/css">


  <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all"> -->
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">

</head>
<%include partials/loginModel.ejs%>
<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <header>
      <div class="container">
        <h1><a href="#">CSE Project Archive</a></h1>
        <%include partials/topnavbar.ejs%>
      </div>
    </header>
    <div class="container">
      <aside>
        <h3>Categories</h3>
        <ul class="categories">
          <li><span><a href="/index">Home</a></span></li>
          <li><span><a  href="/subjects">Subjects</a></span></li>
          <li><span><a id="selected" href="/batches">Batches</a></span></li>
          <li><span><a href="/projects">All projects</a></span></li>
          <li><span><a href="/students">Student Info</a></span></li>
          <li><span><a href="/teachers">Teachers</a></span></li>
          <!-- <li><span><a data-toggle="modal" href="demopic#myModal"> Admin Login</a></span></li> -->
          <!-- <li class="last"><span><a href="/contact">About Us</a></span></li> -->
        </ul>
      </aside>
      <section id="content">
        <%include partials/searchtable.ejs%>
        <%include partials/searchtable.ejs%>
      </section>

    </div>
  </div>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>


  <!-- END PAGE SOURCE -->
</body>

</html>
