<html lang="en">

<head>
  <title>Table</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <script src="extra/jquery.dataTables.min.js"></script>
</head>

<body>

  <% include partials/demosearch.ejs%>

  <!-- <%include partials/searchtable.ejs%> -->
    <!--Footer-part-->

    <!--end-Footer-part-->

</body>

</html>
