<header>
    <div class="container">
      <h1><a href="#"></a></h1>
      <nav>
        <ul>
          <li class="current"><a href="/index" class="m1">Home Page</a></li>
          <li><a href="/subjects" class="m2">Subjects</a></li>
          <li><a href="/batches" class="m3">Batches</a></li>
          <li><a href="/projects" class="m4">Projects</a></li>
          <li class="last"><a href="/contact" class="m5">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>