<header>
    <div class="container">
      <h1><a href="#"></a></h1>
      <nav>
        <ul>
          <li <% if(typeof page != 'undefined' && page == "home" ){%> class="current" <% } %> ><a href="/index" class="m1">Home Page</a></li>
          <!-- <li <% if(typeof page != 'undefined' && page == "subjects" ){%> class="current" <% } %> ><a href="/subjects" class="m2">Subjects</a></li>
          <li <% if(typeof page != 'undefined' && page == "batches" ){%> class="current" <% } %> ><a href="/batches" class="m3">Batches</a></li> -->
           <li <% if(typeof page != 'undefined' && page == "teachers" ){%> class="current" <% } %> ><a href="/teachers" class="m2">Faculty</a></li>
          <li <% if(typeof page != 'undefined' && page == "students" ){%> class="current" <% } %> ><a href="/students" class="m3">Students</a></li>
          <li <% if(typeof page != 'undefined' && page == "projects" ){%> class="current" <% } %> ><a href="/projects" class="m4">Projects</a></li>
          <li <% if(typeof page != 'undefined' && page == "contact" ){%> class="current" <% } %> class="last"><a href="/contact" class="m5">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>