<html lang="en" class="cufon-active cufon-ready gr__localhost">

<head>
  <title>Info</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/students.css" type="text/css" media="all">

  <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <style type="text/css">
    cufon {
      text-indent: 0!important;
    }

    @media screen,
    projection {
      cufon {
        display: inline!important;
        display: inline-block!important;
        position: relative!important;
        vertical-align: middle!important;
        font-size: 1px!important;
        line-height: 1px!important;
      }
      cufon cufontext {
        display: -moz-inline-box!important;
        display: inline-block!important;
        width: 0!important;
        height: 0!important;
        overflow: hidden!important;
        text-indent: -10000in!important;
      }
      cufon canvas {
        position: relative!important;
      }
    }

    @media print {
      cufon {
        padding: 0!important;
      }
      cufon canvas {
        display: none!important;
      }
    }
  </style>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</head>

<body id="page1" data-gr-c-s-loaded="true">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <header>
      <div class="container">
        <h1><a href="#">CSE Project Archive</a></h1>
        <nav>
          <ul>
            <li>
              <a href="/index" class="m1">
                <cufon class="cufon cufon-canvas" alt="Home " style="width: 48px; height: 16px;"><canvas width="60" height="19" style="width: 60px; height: 19px; top: -2px; left: -1px;"></canvas>
                  <cufontext>Home </cufontext>
                </cufon>
                <cufon class="cufon cufon-canvas" alt="Page" style="width: 37px; height: 16px;"><canvas width="44" height="19" style="width: 44px; height: 19px; top: -2px; left: -1px;"></canvas>
                  <cufontext>Page</cufontext>
                </cufon>
              </a>
            </li>
            <li>
              <a href="/subjects" class="m2">
                <cufon class="cufon cufon-canvas" alt="Subjects" style="width: 70px; height: 16px;"><canvas width="77" height="19" style="width: 77px; height: 19px; top: -2px; left: -1px;"></canvas>
                  <cufontext>Subjects</cufontext>
                </cufon>
              </a>
            </li>
            <li>
              <a href="/batches" class="m3">
                <cufon class="cufon cufon-canvas" alt="Batches" style="width: 64px; height: 16px;"><canvas width="71" height="19" style="width: 71px; height: 19px; top: -2px; left: -1px;"></canvas>
                  <cufontext>Batches</cufontext>
                </cufon>
              </a>
            </li>
            <li>
              <a href="/projects" class="m4">
                <cufon class="cufon cufon-canvas" alt="Projects" style="width: 71px; height: 16px;"><canvas width="78" height="19" style="width: 78px; height: 19px; top: -2px; left: -1px;"></canvas>
                  <cufontext>Projects</cufontext>
                </cufon>
              </a>
            </li>
            <li class="last">
              <a href="/contact" class="m5">
                <cufon class="cufon cufon-canvas" alt="Contact " style="width: 72px; height: 16px;"><canvas width="83" height="19" style="width: 83px; height: 19px; top: -2px; left: -1px;"></canvas>
                  <cufontext>Contact </cufontext>
                </cufon>
                <cufon class="cufon cufon-canvas" alt="Us" style="width: 20px; height: 16px;"><canvas width="27" height="19" style="width: 27px; height: 19px; top: -2px; left: -1px;"></canvas>
                  <cufontext>Us</cufontext>
                </cufon>
              </a>
            </li>
          </ul>
        </nav>

        <!-- <form action="#" id="search-form">
          <fieldset>
            <div class="rowElem">
              <input type="text">
              <a href="#">
                <cufon class="cufon cufon-canvas" alt="Search" style="width: 48px; height: 14px;"><canvas width="52" height="16" style="width: 52px; height: 16px; top: -2px; left: -1px;"></canvas>
                  <cufontext>Search</cufontext>
                </cufon>
              </a>
            </div>
          </fieldset>
        </form> -->
      </div>
    </header>
    <div class="container">
      <aside>
        <h3><cufon class="cufon cufon-canvas" alt="Categories" style="width: 106px; height: 20px;"><canvas width="115" height="23" style="width: 115px; height: 23px; top: -3px; left: -1px;"></canvas><cufontext>Categories</cufontext></cufon></h3>
        <ul class="categories">
          <li><span><a href="/index">Home</a></span></li>
          <li><span><a href="/subjects">Subjects</a></span></li>
          <li><span><a href="/batches">Batches</a></span></li>
          <li><span><a href="/projects">All projects</a></span></li>
          <li><span><a href="/students">Student Info</a></span></li>
          <li><span><a href="/teachers">Teachers</a></span></li>
          <li><span><a href="/admin">Administrators</a></span></li>
          <!-- <li class="last"><span><a href="/contact">About Us</a></span></li> -->
        </ul>
      </aside>

      <section id="content">
        <div id="basicpostion" style="
    margin-right: 282px;
">
          <h3 id="basic"><cufon class="cufon cufon-canvas" alt="Basic " style="width: 55px; height: 20px;"><canvas width="69" height="23" style="width: 69px; height: 23px; top: -3px; left: -1px;"></canvas><cufontext>Basic </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Information" style="width: 123px; height: 20px;"><canvas width="129" height="23" style="width: 129px; height: 23px; top: -3px; left: -1px;"></canvas><cufontext>Information</cufontext></cufon></h3>
        </div>




      </section>


    </div>
  </div>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright © 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>


  <!-- END PAGE SOURCE -->



  <script id="wappalyzer" src="chrome-extension://gppongmhjkpfnbhagpmjfkannfbllamg/js/inject.js"></script>
</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span>

</html>
