<html lang="en" class="cufon-active cufon-ready gr__localhost">

<head>
  <title>Info</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/students.css" type="text/css" media="all">

  <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <style type="text/css">
    cufon {
      text-indent: 0!important;
    }

    @media screen,
    projection {
      cufon {
        display: inline!important;
        display: inline-block!important;
        position: relative!important;
        vertical-align: middle!important;
        font-size: 1px!important;
        line-height: 1px!important;
      }
      cufon cufontext {
        display: -moz-inline-box!important;
        display: inline-block!important;
        width: 0!important;
        height: 0!important;
        overflow: hidden!important;
        text-indent: -10000in!important;
      }
      cufon canvas {
        position: relative!important;
      }
    }

    @media print {
      cufon {
        padding: 0!important;
      }
      cufon canvas {
        display: none!important;
      }
    }
  </style>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
  <script type="text/javascript" src="js/script.js"></script>

</head>

<body id="page1" data-gr-c-s-loaded="true">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <%include topnav.ejs%>
    <div class="container">
      <aside>
        <h3><cufon class="cufon cufon-canvas" alt="Categories" style="width: 106px; height: 20px;"><canvas width="115" height="23" style="width: 115px; height: 23px; top: -3px; left: -1px;"></canvas><cufontext>Categories</cufontext></cufon></h3>
        <ul class="categories">
          <li><span><a href="/index">Home</a></span></li>
          <li><span><a href="/subjects">Subjects</a></span></li>
          <li><span><a href="/batches">Batches</a></span></li>
          <li><span><a href="/projects">All projects</a></span></li>
          <li><span><a href="/students">Student Info</a></span></li>
          <li><span><a href="/teachers">Teachers</a></span></li>
          <li><span><a href="/admin">Administrators</a></span></li>
          <!-- <li class="last"><span><a href="/contact">About Us</a></span></li> -->
        </ul>
      </aside>

      <section id="content">
        <div id="basicpostion" style="
    margin-right: 282px;
">
          <h3 id="basic"><cufon class="cufon cufon-canvas" alt="Basic " style="width: 55px; height: 20px;"><canvas width="69" height="23" style="width: 69px; height: 23px; top: -3px; left: -1px;"></canvas><cufontext>Basic </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Information" style="width: 123px; height: 20px;"><canvas width="129" height="23" style="width: 129px; height: 23px; top: -3px; left: -1px;"></canvas><cufontext>Information</cufontext></cufon></h3>
        </div>




      </section>


    </div>
  </div>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright © 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>


  <!-- END PAGE SOURCE -->



  <script id="wappalyzer" src="chrome-extension://gppongmhjkpfnbhagpmjfkannfbllamg/js/inject.js"></script>
</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span>

</html>
