<!DOCTYPE html>
<html lang="en">

<head>
  <title>Project</title>
  <meta charset="utf-8">



  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/addproject.css">

  <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_300.font.js"></script>
  <script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body id="page1">
  <!-- START PAGE SOURCE -->

  <div class="wrap">
    <header>
      <div class="container">
        <h1><a href="#">CSE Project Archive</a></h1>
        <nav>
          <ul>
            <li><a href="/index" class="m1">Home Page</a></li>
            <li><a href="/subjects" class="m2">Subjects</a></li>
            <li><a href="/batches" class="m3">Batches</a></li>
            <li class="current"><a href="/projects" class="m4">Projects</a></li>
            <li class="last"><a href="/contact" class="m5">Contact Us</a></li>
          </ul>
        </nav>

      </div>
    </header>
    <div class="container">
      <aside>
        <h3>Updates</h3>
        <ul class="categories">
          <li><span><a href="/admin/dashboard">Dashboard</a></span></li>
          <li><span><a href="/adduser">Add Students</a></span></li>
          <li><span><a href="/teachers/addteacher">Add Teachers</a></span></li>
          <li><span><a href="/admin/addbatch">Add Batch</a></span></li>
          <li><span><a id="selected" href="/admin/addcourse">Add Course</a></span></li>
          <li><span><a href="/projects/add">Add Projects</a></span></li>
          <li><span><a href="/admin/logout">Log Out</a></span></li>

        </ul>
      </aside>
      <section id="addproject">

        <form class="form-horizontal" action="/admin/addcourse" method="post">
          <fieldset>
            <br><br>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Batch</label>
              <div class="col-md-6">
                <select name="supervisor" class="form-control">
                <%for (var i in batches) {%>
                  <option value="<%=batches[i].batch%>"><%=batches[i].batch%></option>
                <%}%>

            </select>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label">Course Name</label>
              <div class="col-md-4">
                <input name="coursename" type="text" placeholder="Course Name" class="form-control input-md">

              </div>
            </div>


          </fieldset>
          <div class="form-actions">
            <button ype="submit" class="btn btn-success" style="float:right;">Submit</button>
          </div>
        </form>

      </section>

    </div>
  </div>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2017 <a href="#">SiteName</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="#">SUST</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
  <script type="text/javascript">
    Cufon.now();
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      var next = 1;
      $(".add-more-tag").click(function(e) {
        e.preventDefault();
        var addto = "#tag" + next;
        var addRemove = "#tag" + (next);
        next = next + 1;
        var newIn = '<input  autocomplete="off" class="input form-control" placeholder="Tag" id="tag' + next + '" name="tag' + next + '" type="text">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me-tag" >-</button></div><div id="tag">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#tag" + next).attr('data-source', $(addto).attr('data-source'));
        $("#count").val(next);

        $('.remove-me-tag').click(function(e) {
          e.preventDefault();
          var fieldNum = this.id.charAt(this.id.length - 1);
          var fieldID = "#tag" + fieldNum;
          $(this).remove();
          $(fieldID).remove();
        });
      });

    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      var next = 1;
      $(".add-more").click(function(e) {
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = '<input  autocomplete="off" class="input form-control" placeholder="Registration Number" id="field' + next + '" name="field' + next + '" type="text">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source', $(addto).attr('data-source'));
        $("#count").val(next);

        $('.remove-me').click(function(e) {
          e.preventDefault();
          var fieldNum = this.id.charAt(this.id.length - 1);
          var fieldID = "#field" + fieldNum;
          $(this).remove();
          $(fieldID).remove();
        });
      });

    });
  </script>
  <!-- <script type="text/javascript" src="extra/jquery.min.js"></script> -->


  <!-- END PAGE SOURCE -->
</body>

</html>
