<html>
<head>
    <title>Mad Logics- User Profile with HTML and CSS</title>
    

</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%for(var i=0;i<50;i++){%>



    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <img src="http://lh4.googleusercontent.com/-Q496g4B9fZM/AAAAAAAAAAI/AAAAAAAAA-Q/R6lBS2H9CtQ/s512-c/photo.jpg" />
                <p>Abhay, Makadia</p>
                <div class="sub">
                    <p>Web Developer/Designer</p>
                </div>
            </div>
            <div class="back">
                <p id="titulo">Abhay Makadia</p>
                <p>Web Developer/Designer</p>
                <p>Country: India</p>
                <p>Birth: 6<sup>th</sup> Jan 1990</p>
                <!-- <a href="https://www.facebook.com/MADLogics" id="social" class="social">f</a>
                <a href="https://twitter.com/Abhay_Makadia" class="social">t</a>
                <a href="https://www.linkedin.com/pub/abhay-makadia/57/622/124‎" class="social">in</a>
                <a href="https://plus.google.com/103263344673014509508/posts" class="social">g+</a> -->
            </div>
        </div>
    </div>
    <%}%>

</body>
</html>
