<!DOCTYPE html>
<html lang="en">
<%include header.ejs%>

<body id="page1">
  <!-- START PAGE SOURCE -->
  <div class="wrap">
    <%include topnav.ejs%>
    <div class="container">
      <% include partials/leftsidebar.ejs%>
      <section id="content" style=" width: 750px;">
        <%include partials/projectTable.ejs%>
      </section>

    </div>
  </div>
</body>

</html>