section#subcontent {
    float: right;
    margin-top: 50px;
    margin-left: 0px;
    width: 730px;
}
.small-box p {
    font-size: 20px;
    text-align: center;
}

div.hov:hover,div.hov:active{zoom:1;}
